export(chapmanRichards)
export(generalisedLogistic)
export(generalisedRichard)
export(gompertz)
export(logistic)
export(loglogistic)
export(mitcherlich)
export(mmf)
export(monomolecular)
export(negativeExponential)
export(richard)
export(schnute)
export(stannard)
export(vonBertalanffy)
export(weibull)
