export(chapmanRichards)
export(generalisedLogistic)
export(generalisedRichard)
export(gompertz)
export(logistic)
export(mitcherlich)
export(monomolecular)
export(negativeExponential)
export(richard)
export(vanclay)
export(vonBertalanffy)
export(weibull)
